@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-primary-50: #f8f6fa;
  --color-primary-100: #f3ebfd;
  --color-primary-200: #cba8f9;
  --color-primary-300: #ab74f7;
  --color-primary-400: #7a4bb6;
  --color-primary-500: #552781;
  --color-primary-600: #4b2272;
  --color-primary-700: #401d61;
  --color-primary-800: #351851;
  --color-primary-900: #220f33;

  --color-gray-50: #fafafa;
  --color-gray-100: #f3f3f5;
  --color-gray-200: #ececf0;
  --color-gray-300: #e9ebef;
  --color-gray-400: #cbced4;
  --color-gray-500: #717182;
  --color-gray-600: #5a5a6b;
  --color-gray-700: #434354;
  --color-gray-800: #2c2c3d;
  --color-gray-900: #030213;

  --color-white: #ffffff;
  --color-black: #000000;

  --color-red-500: #d6231d;
  --color-green-500: #36bc54;
  --color-blue-500: #2c77fc;
  --color-yellow-500: #e8a80c;
  --color-pink-500: #e6438d;
  --color-orange-500: #ed653b;
  --color-syan-500: #57b3ce;

  --color-purple-50: #faf5ff;
  --color-purple-100: #f5edff;
  --color-purple-200: #e9d5ff;
  --color-purple-300: #d8b4fe;
  --color-purple-400: #c084fc;
  --color-purple-500: #a855f7;
  --color-purple-600: #9333ea;
  --color-purple-700: #7e22ce;
  --color-purple-800: #6b21a8;
  --color-purple-900: #581c87;

  --color-background: var(--color-white);
  --color-foreground: var(--color-gray-900);
  --color-border: rgba(0, 0, 0, 0.1);
  --color-input-background: var(--color-gray-100);
  --color-muted: var(--color-gray-200);
  --color-muted-foreground: var(--color-gray-500);
  --color-destructive: var(--color-red-500);
  --color-success: var(--color-green-500);
  --color-warning: var(--color-yellow-500);
  --color-info: var(--color-blue-500);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --text-t1: 11px 1.45;
  --text-t2: 12px 1.45;
  --text-t3: 14px 1.45;
  --text-t4: 16px 1.45;
  --text-t5: 18px 1.45;
  --text-t6: 20px 1.45;
  --text-t7: 22px 1.45;
  --text-t8: 24px 1.45;

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
